div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 600px;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

input {
    padding: 0.5em;
    margin: 0.5em;
    width: 100%;
}
