div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 600px;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    padding: 0.5em;
}

form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

input {
    padding: 0.3em;
    margin: 0.3em;
    width: 100%;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #e0e0e0;
    border-bottom: 1px solid #444;
    padding-bottom: 8px;
    width: 100%;
}