body {
    display: flex;
    flex-direction: row;
}

#menu {
    width: 150px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    font-size: 1.2em;
}

#menu a {
    color: #e0e0e0;
    display: inline-block;
    text-decoration: none;
    margin: 0.5em;
}

#content {
    width: 100%;
    height: 100%;
    padding: 1em;
}