.log {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    flex-direction: row;
    padding: 0.5rem;
    gap: 0.5rem;
}

.log div:first-child {
    flex: 1;
}

.log div:last-child {
    flex: 8;
}

.log div textarea {
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 0.5rem;
}

.options a {
    width: 100%;
    margin: 0;
}

.remove {
    flex: 1
}

.edit {
    flex: 2
}

.log-header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
}

.logs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#addLogDialog {
    width: 60%;
    color: inherit;
    background-color: #282828;
    border: 1px solid white;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 300px;
    overflow-y: hidden;
}

.images {
    display: flex;
    flex-direction: row;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    width: fit-content;
    padding: 0.2rem;
}

.images a {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    padding: 0 0.3rem;
}

.images hr {
    margin: 0;
    height: 20px;
    color: white;
}

.log-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.file {
    display: none;
}