.log {
    display: flex;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;
}

.log div:first-child {
    flex: 1;
}

.log div:last-child {
    flex: 8;
}

.log div input, .log div textarea {
    width: max-content;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.remove {
    flex: 1
}

.edit {
    flex: 2
}

.log-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#addLogDialog {
    width: 60%;
    color: inherit;
    background-color: #282828;
    border: 1px solid white;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
}
