.profile-container {
    max-width: 800px;
    margin: 0 auto;
}

.profile-section {
    border-radius: 8px;
    padding: 12px;
    border: 1px solid #e4e4e4;
}

.existing_details p {
    white-space: nowrap;
    overflow-x: auto;
}

.profile-section h3,
.danger-zone h3 {
    margin-top: 0;
    margin-bottom: 12px;
    color: #e0e0e0;
    border-bottom: 1px solid #444;
    padding-bottom: 8px;
    text-align: center;
}

.update_details {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 15px 0;
    width: 100%;
}

.update-form {
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #e4e4e4;
}

.update-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.danger-zone {
    border-top: 1px solid #444;
    padding-top: 8px;
    text-align: center;
}

.danger-button {
    background-color: #770000;
    border: none;
    font-size: 1em;
}

#delete_account {
    margin-top: 0;
}


.update-form p,
.button {
    margin: 0
}

input {
    padding: 5px;
}