<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_register.css') }}">
</head>
<body>
<div class="flash {% if get_flashed_messages() %}visible{% endif %}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {{ messages[0] }}
        {% endif %}
    {% endwith %}
</div>


<form action="/login" method="post">
    <p class="title">Login</p>
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="submit" value="Login">
    <a href="{{ url_for('register') }}">
        <div>Register</div>
    </a>
</form>
</body>
</html>